// COLORS 
//graident right to left
$primary-color: #1C2841;
$secondary-color: #0C2340;

$white-color: #c4ced3;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #0C2340; // For Headings & text

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
